{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>OdontOntology</h1>
        <p>This website is under development.</p>
        <p>Content related to dental informatics, data analytics, data visualization, EHR, ontologies, clinical decision support will be posted here soon.</p>
    </div>
    <p>
        <span class="glyphicon glyphicon-thumbs-up">
        <a href="https://twitter.com/WikiDentalFacts" target="_blank">@WikiDentalFacts</a></span>
    </p>
    <p>
        <span class="glyphicon glyphicon-hand-right">
        <a href="https://twitter.com/GopikrishnanC" target="_blank">@GopikrishnanC</a></span>
    </p>
    <p>
        <span class="glyphicon glyphicon-hand-right">
        <a href="https://www.linkedin.com/in/gopikrishnan-m-baa0b418/" target="_blank">Gopikrishnan M.C</a></span>
    </p>
</div>
{% endblock %}